@import url(../../../../../node_modules/antd/dist/antd.dark.css);

.ant-pro-global-header {
    background-color: #1F1F1F !important;
}

.ant-pro-page-container-warp,
.ant-pro-card,
.ant-pro-footer-bar {
    background-color: #141414 !important;
}

.ant-pro-table-list-toolbar-title,
.ant-pro-table-list-toolbar-setting-item,
.antd-pro-charts-chart-card-metaWrap div,
.antd-pro-charts-chart-card-content div {
    color: rgba(255, 255, 255, 0.85) !important;
}

.ant-pro-card.ant-pro-card-border {
    border: 1px solid black
}

.ant-pro-footer-bar {
    border-top: 0;
}

.ant-layout-footer {
    background-color: black;
}

.ant-layout-footer a,
.ant-layout-footer div {
    color: rgba(255, 255, 255, 0.45) !important;
}
