[Unit]
Description=Financer Server Application (production)
After=network.target

[Service]
User=root
ExecStart=/var/lib/jenkins/workspace/financer_deployment/service/start-financer-server.sh
TimeoutStopSec=10
Restart=always
RestartSec=5
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target