@charset "utf-8";

// setting font
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega|Roboto:300,400,700&display=swap');

$font-family-sans-serif: "Roboto Light", sans-serif;
$font-family-monospace: "Lexend Mega", sans-serif;

// setting colors
$primary: #44a1a0;
$secondary: #ff715b;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

#navbar {
    transition: all 0.5s ease-in-out;
}

.nav-item {
    @extend .px-2, .py-2
}

.nav-item .nav-link {
    @extend .text-uppercase, .px-2, .py-2, .text-monospace;
    transition: all 0.5s ease-in-out;
}

.nav-item .nav-link {
    color: $gray-500;
}

.nav-item .nav-link:hover {
    background-color: rgba($primary, 0.2);
}

.sub-heading {
    @extend .text-uppercase, .text-center, .my-5, .text-monospace;
    letter-spacing: 1.5px;
    color: $gray-500;
}

.jumbotron {
    padding-top: 80px;
    border-radius: 0;
}

.icon-box {
    text-align: center;
}

.icon-box i {
    font-size: 26px;
    margin-bottom: 15px;
    background-color: rgba($primary, 0.2);
    padding: 30px;
    border-radius: 100%;
    color: $primary;
}