#navigationBox {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#imageContainer {
    -fx-background-color: #7baa95;
    -fx-padding: 15 8;
}

#imageContainer .label {
    -fx-text-fill: #ffffff;
    -fx-alignment: BOTTOM_LEFT;
    -fx-font-size: 12;
    -fx-padding: 15 0 0 10;
}

.nav-btn {
    -fx-font-family: "Roboto Medium";
    -fx-background-color: transparent;
    -fx-font-size: 12;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-border-radius: 0;
    -fx-pref-width: 100%;
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: #909ca8;
    -fx-font-weight: 700;
}

.nav-btn.selected {
    -fx-background-color: #fbfbfb;
    -fx-text-fill: #92cab1;
    -fx-border-color: #92cab1;
    -fx-border-width: 0 3 0 0;
}

.nav-btn:hover {
    -fx-background-color: #fbfbfb;
}