<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:db_engine_placeholder://db_host_placeholder:3306/db_name_placeholder?autoReconnect=true&amp;useTimezone=true&amp;useUnicode=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Berlin
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Update database scheme, or create if necessary -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">4</property>

        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">managed</property>

        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>

        <!-- C3P0 Connector in order to prevent connection loss -->
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="hibernate.c3p0.max_size">25</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_statement">0</property>
        <property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

        <!-- mapping file, we can use Bean annotations too -->
        <mapping class="org.financer.server.domain.model.category.CategoryEntity"/>
        <mapping class="org.financer.server.domain.model.transaction.FixedTransactionEntity"/>
        <mapping class="org.financer.server.domain.model.transaction.FixedTransactionAmountEntity"/>
        <mapping class="org.financer.server.domain.model.user.TokenEntity"/>
        <mapping class="org.financer.server.domain.model.transaction.AttachmentEntity"/>
        <mapping class="org.financer.server.domain.model.transaction.VariableTransactionEntity"/>
        <mapping class="org.financer.server.domain.model.user.UserEntity"/>
        <mapping class="org.financer.server.domain.model.user.SettingEntity"/>
        <mapping class="org.financer.server.domain.model.user.VerificationTokenEntity"/>

    </session-factory>
</hibernate-configuration>