* {
    -fx-color-primary: #44a1a0;
    -fx-color-primary-dark: #0d5c63;
    -fx-color-primary-light: #48c3c2;
    -fx-color-primary-light-transparent: rgba(68, 161, 160, 0.21);

    -fx-color-secondary: #ff715b;

    -fx-color-success: #00c853;
    -fx-color-warning: #ffd600;
    -fx-color-error: #e53935;

    -fx-color-light-gray: #c8d5e1;
    -fx-color-dark-gray: #909ca8;
    -fx-color-black: #111111;

    -fx-color-white: #fffffa;
    -fx-color-background: #eef1f5;
}