.header {
    -fx-background-color: -fx-color-primary;
    -fx-fill: -fx-color-white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
    -fx-padding: 8 10;

    -fx-text-fill: -fx-color-white;
}

#hamburgerBtn {
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-fill: -fx-color-white;
}

#hamburgerBtn StackPane {
    -fx-background-color: -fx-color-white;
    -fx-pref-width: 20px;
    -fx-pref-height: 2px;
    -fx-background-radius: 2px;
}

#financerLabel {
    -fx-text-fill: -fx-color-white;
    -fx-padding: 9 0 0 15;
    -fx-font-size: 14;
}

#contentLabel {
    -fx-text-fill: -fx-color-white;
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

#offlineLabel {
    -fx-text-fill: -fx-color-white;
    -fx-font-size: 14;
}

#accountMenuBtn {
    -fx-padding: 4 15 0 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: -fx-color-white;
}