.content {
    -fx-background-color: #f5f5f5;
    -fx-padding: 0;
    -fx-text-overrun: scroll;
}

.content-box {
    -fx-padding: 5 20;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 2);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.jfx-masonry-pane {
    -fx-spacing: 10;
}

.loading-box {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.loading-box .label {
    -fx-font-size: 14;
    -fx-padding: 15;
}

.tab-box {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 2);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.content-heading {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
    -fx-text-fill: #92cab1;
    -fx-font-weight: 700;
    -fx-padding: 10 10 20 0;
}

.tab-container .headers-region {
    -fx-background-color: #ffffff;
}

.tab-container .depth-container {
    -fx-effect: none;
}

.tab-container .tab-header-background {
    -fx-background-color: #ffffff;
}

.tab-container .tab-selected-line {
    -fx-background-color: #92cab1;
    -fx-pref-height: 3
}

.tab-container .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #92cab1;
}

.tab-container .tab .tab-label {
    -fx-padding: 10 30;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-text-fill: #909ca8;
}

.tab-container .tab:selected .tab-label {
    -fx-text-fill: #92cab1;
    -fx-background-color: #fbfbfb;
}

.tab-content {
    -fx-padding: 10;
}

.tool-btn-bar {
    -fx-padding: 10 0 10 0;
    -fx-spacing: 5  ;
}

.error-label {
    -fx-text-fill: #ff4a39;
    -fx-padding: 8 0;
    -fx-font-weight: 700;
}

.default-color0.chart-pie { -fx-pie-color: #ffc200; }
.default-color1.chart-pie { -fx-pie-color: #92cab1; }
.default-color2.chart-pie { -fx-pie-color: #fc3b37; }
.default-color3.chart-pie { -fx-pie-color: #00b557; }
.default-color4.chart-pie { -fx-pie-color: #00FFFF; }