.content {
    -fx-background-color: -fx-color-background;
    -fx-padding: 0;
    -fx-text-overrun: scroll;
}

.content-box {
    -fx-padding: 5 20;
    -fx-background-color: -fx-color-white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.jfx-masonry-pane {
    -fx-spacing: 15px;
}

.loading-box {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.loading-box .label {
    -fx-font-size: 14;
    -fx-padding: 15;
}

.tab-box {
    -fx-background-color: -fx-color-white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.content-heading {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
    -fx-text-fill: -fx-color-primary;
    -fx-font-weight: 700;
    -fx-padding: 10 10 20 0;
}

.scroll-pane {
    -fx-background-color: -fx-color-background;
    -fx-label-padding: 0 0 10px 0;
}

.tab-container .headers-region {
    -fx-background-color: -fx-color-white;
}

.tab-container .depth-container {
    -fx-effect: none;
}

.tab-container .tab-header-background {
    -fx-background-color: -fx-color-white;
}

.tab-container .tab-selected-line {
    -fx-background-color: -fx-color-primary;
    -fx-pref-height: 3
}

.tab-container .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -fx-color-primary;
}

.tab-container .tab .tab-label {
    -fx-padding: 10 30;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-text-fill: -fx-color-dark-gray;
}

.tab-container .tab:selected .tab-label {
    -fx-text-fill: -fx-color-primary;
    -fx-background-color: -fx-color-white;
}

.tab-content {
    -fx-padding: 10;
}

.tool-btn-bar {
    -fx-padding: 10 0 10 0;
    -fx-spacing: 5;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.separator {
    -fx-padding: 10px 0 20px;
    -fx-stroke: -fx-color-dark-gray;
}

.jfx-snackbar-content {
    -fx-background-color: -fx-color-white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}

.jfx-snackbar-toast {
    -fx-font-size: 14px;
}

.success-toast-label {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-label-padding: 10px 15px;
    -fx-text-fill: #5cb85c;
    -fx-border-color: #5cb85c;
    -fx-background-color: rgba(92, 184, 92, 0.4);
    -fx-border-width: 0 0 0 3px;
}

.info-toast-label {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-label-padding: 10px 15px;
    -fx-text-fill: #00B0FF;
    -fx-border-color: #00B0FF;
    -fx-background-color: rgba(0, 176, 255, 0.4);
    -fx-border-width: 0 0 0 3px;
}

.warning-toast-label {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-label-padding: 10px 15px;
    -fx-text-fill: #ffc200;
    -fx-border-color: #ffc200;
    -fx-background-color: rgba(255, 194, 0, 0.4);
    -fx-border-width: 0 0 0 3px;
}

.error-toast-label {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-label-padding: 10px 15px;
    -fx-text-fill: #fc3b37;
    -fx-border-color: #fc3b37;
    -fx-background-color: rgba(252, 59, 55, 0.4);
    -fx-border-width: 0 0 0 3px;
}

.success-label {
    -fx-label-padding: 10px 15px;
    -fx-border-color: #5cb85c;
    -fx-border-width: 0 0 0 3px;
    -fx-background-color: rgba(92, 184, 92, 0.4);
    -fx-pref-width: infinity;
}

.info-label {
    -fx-label-padding: 10px 15px;
    -fx-border-color: #00B0FF;
    -fx-border-width: 0 0 0 3px;
    -fx-background-color: rgba(0, 176, 255, 0.4);
    -fx-pref-width: infinity;
}

.warning-label {
    -fx-label-padding: 10px 15px;
    -fx-border-color: #ffc200;
    -fx-border-width: 0 0 0 3px;
    -fx-background-color: rgba(255, 194, 0, 0.4);
    -fx-pref-width: infinity;
}

.error-label {
    -fx-label-padding: 10px 15px;
    -fx-border-color: #fc3b37;
    -fx-border-width: 0 0 0 3px;
    -fx-background-color: rgba(252, 59, 55, 0.4);
    -fx-pref-width: infinity;
}

.description-box {
    -fx-padding: 8px 0;
}

.description-box .description-label {
    -fx-padding: 0 0 2px 0;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-color-dark-gray;
}

.description-box .description-content-label {
    -fx-font-size: 18px;
    -fx-font-family: 'Roboto Medium';
}

/*** TABLES ***/

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: 400;
    -fx-text-fill: -fx-color-dark-gray;
    -fx-padding: 10px 0 10px 5px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-color-light-gray;
}

.table-view .table-cell {
    -fx-padding: 6px 4px;
    -fx-border-width: 0 0 1px 0;
}

.table-view .filler {
    -fx-text-fill: -fx-color-dark-gray;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area, .jfx-combo-box {
    -jfx-focus-color: -fx-color-primary;

}