#navigationBox {
    -fx-background-color: -fx-color-white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 0);
}

#userNameLabel {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -fx-color-white;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-padding: -30 0 10 15;
}

#hamburgerBtn {
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-fill: -fx-color-white;
}

.nav-btn {
    -fx-font-family: "Roboto Bold";
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-pref-width: 100%;
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: -fx-color-dark-gray;
    -fx-font-weight: 700;
}

.nav-btn.selected {
    -fx-background-color: -fx-color-primary-light-transparent;
    -fx-text-fill: -fx-color-primary-dark;
    -fx-graphic: -fx-color-primary-dark;
}

.nav-btn:hover {
    -fx-background-color: -fx-color-white;
}