.header {
    -fx-background-color: -fx-color-white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
    -fx-padding: 12px 20px;

    -fx-text-fill: -fx-color-white;
}

#hamburgerBtn StackPane {
    -fx-background-color: -fx-color-dark-gray;
    -fx-pref-width: 20px;
    -fx-pref-height: 2px;
    -fx-background-radius: 2px;
}

#financerLabel {
    -fx-text-fill: -fx-color-primary;
    -fx-font-weight: 700;
    -fx-padding: 5 0 0 15;
    -fx-font-size: 16;
}

#contentLabel {
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

#offlineLabel {
    -fx-text-fill: -fx-color-dark-gray;
    -fx-font-size: 14;
}

#accountMenuBtn {
    -fx-padding: 4 15 0 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#accountMenuBtn .label {
    -fx-text-fill: -fx-color-dark-gray;
}

#accountMenuBtn .label:focused {
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: -fx-color-background;
    -fx-padding: 5px;
    -fx-border-width: 0;
    -fx-background-radius: 10px;
}